<br>
<div class="container" >
    <div class="row">
        <div class="col">
            <div *ngFor="let person of people" >
                <div class="card"  >
                    <div class="card-header">
                        {{person.firstName}} {{person.lastName}}
                    </div>
                    <div class="card-body" >
                        <h5 class="card-title"></h5>
                        <p class="card-text">Age = {{person.age}}</p>
                        <p class="card-text">gender = {{person.gender}}</p>
                        <p class="card-text">job = {{person.job.jobName}}</p>
                        <br>
                    </div>
                </div>  
                <br>
            </div>
        </div>
        <div class="col">
            <div *ngFor="let job of jobs" >
                <div class="card"  >
                    <div class="card-header">
                        {{job.jobName}}
                    </div>
                    <div class="card-body" >
                        <h5 class="card-title">{{job.jobDescription}}</h5>
                    </div>
                </div>  
                <br>
            </div>
        </div>
        
        <div class="col">
            <div class="card"  >
                <div class="card-header">
                    Add Jobs
                </div>  
                name:
                <input type="text" [(ngModel)]="addjobname"/>

                description:
                <input type="text" [(ngModel)]="addjobdescription"/>
                <button type="button" (click)="AddJob()">ADD</button>
            </div>
        </div>  
    </div>
</div>